.all_center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group {
  display: flex;
}

.button {
  padding: 5px;
  margin: 10px;
  min-height: 50px;
  min-width: 100px;
}

.text {
  font-size: 50px;
}
