h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 25px;
}

input {
  width: 100%;
}

.item-container {
  text-align: left;
}

.kg-row {
  margin: 10px 70px;
}

.kg-button {
  min-width: 75px;
}

.button-margin {
  margin-left: 100px;
}
